Repository kookmin-sw/capstone-2025-03, pull requests merged in 2025-05, with the labels that each got.

#57 [feat] profile
  frontend/src/assets/images/profile/address.png
  frontend/src/assets/images/profile/hello.png
  frontend/src/assets/images/profile/house.png
  frontend/src/assets/images/profile/phone.png
  frontend/src/pages/profile/Profile.module.css
  frontend/src/pages/profile/Profile.tsx
Labels: frontend

#58 [feat] react-query 이슈 해결
  frontend/src/components/ui/PackageItem.tsx
  frontend/src/models/PackageModel.ts
  frontend/src/pages/package-detail/PackageDetail.tsx
  frontend/src/services/packageService.ts
  frontend/src/styles/global.css
Labels: frontend

#59 [feat] : upload depreciate AI model
  ai/src/danawa_gas_range.csv
  ai/src/depr_model/config.json
  ai/src/depr_model/special_tokens_map.json
  ai/src/depr_model/tokenizer.json
  ai/src/depr_model/tokenizer_config.json
  ai/src/depr_model/vocab.txt
  ai/src/depreciation_data.csv
  ai/src/depreciation_predict.py
  ai/src/depreciation_train.py
  ai/src/gas_range_model_summary.csv
  ai/src/model_name_counts.csv
  ai/src/model_summary.py
Labels: ai

#64 Feature/backend
  backend/ai_model_ver2/.gitattributes
  backend/ai_model_ver2/.vscode/settings.json
  backend/ai_model_ver2/depreciation_data.csv
  backend/ai_model_ver2/depreciation_predict.py
  backend/ai_model_ver2/main.py
  backend/ai_model_ver2/requirements.txt
  backend/django/.vscode/settings.json
  backend/django/categories/serializers.py
  backend/django/categories/urls.py
  backend/django/categories/views.py
  backend/django/packages/filters.py
  backend/django/packages/migrations/0002_alter_package_industry.py
  backend/django/packages/migrations/0002_package_user_alter_package_industry.py
  backend/django/packages/models.py
  backend/django/packages/serializers.py
  backend/django/packages/views.py
  backend/django/products/migrations/0005_alter_product_seller.py
  backend/django/products/models.py
  backend/django/products/serializers.py
  backend/django/requirements.txt
  backend/django/restart/settings.py
  backend/django/restart/urls.py
  backend/django/restart/views.py
Labels: backend
